<html>
<head>
    <title>Ajax Practice</title>
           
</head>

<body id="Test">
        <button id="Test">Click Me</button>
         <script>
                //Event Listener
         document.getElementById("Test").addEventListener('click',loadText)
                //Function to get document
                function loadText(){
                    console.log("Button Clicked");
                    var xhr= new XMLHttpRequest();
                    
                    xhr.open('GET',Test.txt, true); 
                    
                    xhr.onload = function(){
                        if (this.status == 200){
                            console.log(this.responseText);
                        }
                    }
                  xhr.send();
                }
            </script>
</body>


</html>