<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	  
    <title>Assign Task </title>

    <!-- Bootstrap -->
    <link href="assets/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="assets/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="assets/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="assets/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- bootstrap-wysiwyg -->
    <link href="assets/vendors/google-code-prettify/bin/prettify.min.css" rel="stylesheet">
    <!-- Select2 -->
    <link href="assets/vendors/select2/dist/css/select2.min.css" rel="stylesheet">
    <!-- Switchery -->
    <link href="assets/vendors/switchery/dist/switchery.min.css" rel="stylesheet">
    <!-- starrr -->
    <link href="assets/vendors/starrr/dist/starrr.css" rel="stylesheet">
    <!-- bootstrap-daterangepicker -->
    <link href="assets/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="assets/build/css/custom.min.css" rel="stylesheet">

<!--DATATABLE-->
<script src="assets/vendors/datatables/icd/jquery-1.11.2.min.js"></script>
<script src="assets/vendors/datatables/icd/jquery-ui-1.11.3.min.js"></script>
<script src="assets/vendors/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="assets/vendors/datatables/icd/Responsive-2.2.2/js/dataTables.responsive.min.js"></script>
<link rel="stylesheet" href="assets/vendors/datatables/media/css/jquery.dataTables.min.css" type="text/css"/>
<link rel="stylesheet" href="assets/vendors/datatables/icd/Responsive-2.2.2/css/responsive.dataTables.min.css" type="text/css"/>


  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <%- include ./nav.ejs %>
        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Assign Task</h3>
              </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_content">
                    <br />
                    <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                    <!-- UI Part--->
                      <div class="form-group">
                        <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Select Task:<span class="required"></span>
                        </label>
                       <div class="col-md-6 col-sm-6 col-xs-12">
                          <select class="form-control" placeholder="Select Group">
                            <option>Option one</option>
                            <option>Option two</option>
                            <option>Option three</option>
                            <option>Option four</option>
                          </select>
                        </div>
                      </div>
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Select Group:<span class="required"></span>
                        </label>
                       <div class="col-md-6 col-sm-6 col-xs-12">
                          <select class="form-control" placeholder="Select Group">
                            <option>Option one</option>
                            <option>Option two</option>
                            <option>Option three</option>
                            <option>Option four</option>
                          </select>
                        </div>
                      </div>
                        <!-- This should only pop out after a group has been chosen-->
                        <div class="form-group">
                        <div class="col-md-6">
                          <table id="tableone" class="DataTable" >
                            <thead>
                              <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                              </tr>
                            </thead>
                            <tfoot>
                              <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                              </tr>
                            </tfoot>
                          </table>
                        </div>
                        <div class="col-md-6">
                          <table id="tabletwo" class="dataTable" >
                            <thead>
                              <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                              </tr>
                            </thead>
                            <tbody>

                            </tbody>
                          </table>
                        </div>
                        </div>

                        <div class="form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Assign task to:<span class="required"></span>
                          </label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            <select class="form-control" placeholder="Select Group">
                              <option>Option one</option>
                              <option>Option two</option>
                              <option>Option three</option>
                              <option>Option four</option>
                            </select>
                          </div>
                          </div>

                       <div class="col-md-6 col-sm-6 col-xs-12">
                       <label class="control-label col-md-6 col-sm-3 col-xs-12" for="first-name">Set Cycle Time:<span class="required"></span>
                        </label>
                        <form class="form-group">
                          <fieldset>
                            <div class="form-group">
                              <div class="controls">
                                <div class="input-prepend input-group">
                                  <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
                                  <input type="text" name="reservation-time" id="reservation-time" class="form-control" value="01/01/2016 - 01/25/2016" />
                                </div>
                              </div>
                            </div>
                          </fieldset>
                        </form>
                      </div>
                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                          <button class="btn btn-primary" type="button">Cancel</button>
						  <button class="btn btn-primary" type="reset">Reset</button>
                          <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                      </div>
                     </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>

            
        <!-- /page content -->

        <!-- footer content -->
        <footer>
          <div class="pull-right">
            Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>

    <!--JAVASCRIPT Datatable CODE-->
    <script>

    var selectTable;

    $(document).ready(function(){

    selectTable = $('#tableone').DataTable({
        "sAjaxSource": "datatables\icd\table.txt",
        "bFilter": false,
        "deferRender": true,
        "column": [
          {"data": 'User_First'},
          {"data": 'User_Last'}
        ]
      });

      /*var selectedTable = $('tabletwo').dataTable({
      "bFilter": false
      });

    selectTable.on('click', 'tbody tr' ,function() {
		  $(this).toggleClass('selected');
    });
    selectedTable.on('click', 'tbody tr' ,function() {
      $(this).toggleClass('selected');
    });

    $('#LeftMove').on('click',function () {
		moveRows(SelectedTable, SelectTable);
	});
	
	$('#RightMove').on('click',function () {
		moveRows(SelectTable, SelectedTable);
	});*/
      
    });
    </script>


    <!-- Bootstrap -->
    <script src="assets/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="assets/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="assets/vendors/nprogress/nprogress.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="assets/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="assets/vendors/iCheck/icheck.min.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="assets/vendors/moment/min/moment.min.js"></script>
    <script src="assets/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- bootstrap-wysiwyg -->
    <script src="assets/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
    <script src="assets/vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
    <script src="assets/vendors/google-code-prettify/src/prettify.js"></script>
    <!-- jQuery Tags Input -->
    <script src="assets/vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>
    <!-- Switchery -->
    <script src="assets/vendors/switchery/dist/switchery.min.js"></script>
    <!-- Select2 -->
    <script src="assets/vendors/select2/dist/js/select2.full.min.js"></script>
    <!-- Parsley -->
    <script src="assets/vendors/parsleyjs/dist/parsley.min.js"></script>
    <!-- Autosize -->
    <script src="assets/vendors/autosize/dist/autosize.min.js"></script>
    <!-- jQuery autocomplete -->
    <script src="assets/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
    <!-- starrr -->
    <script src="assets/vendors/starrr/dist/starrr.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="assets/build/js/custom.min.js"></script>
	
  </body>
</html>
