<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	  
    <title>Comparative Analysis Page</title>

    <!-- Bootstrap -->
    <link href="assets/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="assets/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="assets/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="assets/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- bootstrap-wysiwyg -->
    <link href="assets/vendors/google-code-prettify/bin/prettify.min.css" rel="stylesheet">
    <!-- Select2 -->
    <link href="assets/vendors/select2/dist/css/select2.min.css" rel="stylesheet">
    <!-- Switchery -->
    <link href="assets/vendors/switchery/dist/switchery.min.css" rel="stylesheet">
    <!-- starrr -->
    <link href="assets/vendors/starrr/dist/starrr.css" rel="stylesheet">
    <!-- bootstrap-daterangepicker -->
    <link href="assets/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="assets/build/css/custom.min.css" rel="stylesheet"> 
    <!--Table floating left and right-->
    <link rel="stylesheet" type="text/css" href="src/scss/tables.scss">
  </head>

  <body class="nav-md">
        <div class="container body">
          <div class="main_container">
            <%- include ./nav.ejs %>
            <!-- page content -->
            <div class="right_col" role="main">
              <div class="">
                <div class="page-title">
                  <div class="title_left"> 

                    <!--Tables--> 
                      
                        
                        <!--Left Table-->
                        <div id="Left" style="float: left" >
                                <style>
                                    .content-table {
                                          
                                          border-collapse:collapse;
                                          margin: 25px 0;
                                          font-size: 1.0em;
                                          min-width: 400px; 
                                          border-radius: 5px 5px 0 0;
                                          overflow: hidden;
                                          box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); 
                                          float:left; 
                                          
               
                                    } 
              
                                    .content-table th{
                                        border: 1px solid #000; 
                                        background-color: darkseagreen;
                                        color: white;
                                    }
              
                                    .content-table th,
                                    .content-table td{
                                        padding: 12px 15px;
              
                                    }
              
                                    .content-table tr{
                                      border-bottom: 1px solid #dddddd;
                                    }
              
                                    .content-table tbody tr:nth-of-type(even){
                                        background-color: #f3f3f3;
                                    }
              
                                    .content-table tbody tr:last-of-type{
                                      border-bottom: 2px solid #009879;
                                    }
              
                                    .content-table thead tr {
                                      padding:5px 15px;
                                      text-align:left; 
                                      font-weight: bold;
                                      border-bottom: 1px solid #ddd;
              
                                    } 
          
                                    .button {
                                      background-color: #4CAF50; 
                                      border: none;
                                      color: white;
                                      padding: 16px 32px;
                                      text-align: center;
                                      text-decoration: none;
                                      display: inline-block;
                                      font-size: 16px;
                                      margin: 4px 2px;
                                      -webkit-transition-duration: 0.4s; 
                                      transition-duration: 0.4s;
                                      cursor: pointer;
                                    } 
                                             
                                    </style> 
                                
                                <table class="content-table">
                                <thead>
                                  <tr>
                                    <th>#</th>
                                    <th>Criteria</th>   <!-- changed to Critera instead of Task-->
                                    <th>General Objective</th>
                                    <!--Measurement-->>
                                    <th>Quality Target</th>
                                    <!--removed base standard column-->
                                    <th>Group Assigned</th><!--Exclude to G.L-->
                                    <th>Personnel Assigned</th><!---Exclude to G.M-->
                                    <th>Priority Level</th>
                                    <th>Previous Score</th>  <!--Added score row to display recieved score from previous cycle-->
                                    
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <th scope="row">1</th>
                                    <td>All classrooms contain fire extinguishers for cases of emergency</td>
                                    <td>Safety Practices and Academic Efficiency </td>
                                    
                                    <td> 8/10</td>
                                    <td> Student Services </td>
                                    <td></td>>
                                    <td>9/10</td>
                                    <td> 5/10 </td>
                                    
                                  </tr>
                                  <tr>
                                    <th scope="row">2</th>
                                    <td>All Scientific Laboratories contain proper safety materials and follow proper safety guidelines </td>
                                    <td>Safety Practices and Academic Efficiency </td>
                                    
                                    <td> 9/10 </td>
                                    <td> Student Services </td>
                                    <td></td>>
                                    <td>9/10</td>
                                    <td> 6/10 </td>
                                    
                                  </tr>
                                  <tr>
                                      <th scope="row">3</th>
                                      <td>Each classrooms contain learning materials athat are in good condition to be used for academic learning </td>
                                      <td>Safety Practices and Academic Efficiency </td>
                                      
                                      <td> 9/10 </td>
                                      <td> Student Services </td>
                                      <td></td>>
                                      <td>9/10</td>
                                      <td> 6/10 </td>
                                      
                                    </tr>
                                </tbody>
                              </table> 
                            
                              <h4> Current Cycle <h4>
                             </div> 

                            <!--Right table-->>
                             <div id=Right style="float: right"> 
                                <style>
                                  .content-table2 {
                                          
                                          border-collapse:collapse;
                                          margin: 25px 0;
                                          font-size: 1.0em;
                                          min-width: 400px; 
                                          border-radius: 5px 5px 0 0;
                                          overflow: hidden;
                                          box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); 
                                          float: right;
                                          
                                          
                                    } 
              
                                    .content-table2 th{
                                        border: 1px solid #000; 
                                        background-color: darkseagreen;
                                        color: white;
                                    }
              
                                    .content-table2 th,
                                    .content-table2 td{
                                        padding: 12px 15px;
              
                                    }
              
                                    .content-table2 tr{
                                      border-bottom: 1px solid #dddddd;
                                    }
              
                                    .content-table2 tbody tr:nth-of-type(even){
                                        background-color: #f3f3f3;
                                    }
              
                                    .content-table2 tbody tr:last-of-type{
                                      border-bottom: 2px solid #009879;
                                    }
              
                                    .content-table2 thead tr {
                                      padding:5px 15px;
                                      text-align:left; 
                                      font-weight: bold;
                                      border-bottom: 1px solid #ddd;
              
                                    } 
                                  </style>
                                <table class="content-table2" style="float: right">
                                    <thead>
                                      <tr>
                                        <th>#</th>
                                        <th>Criteria</th>   <!-- changed to Critera instead of Task-->
                                        <th>General Objective</th>
                                        <!--measurement-->>
                                        <th>Quality Target</th>
                                        <!--removed base standard column-->
                                        <th>Group Assigned</th><!--Exclude to G.L-->
                                        <th>Personnel Assigned</th><!---Exclude to G.M-->
                                        <th>Priority Level</th>
                                        <th>Current Score</th>  <!--Added score row to display recieved score from previous cycle-->
                                        
                                      </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                          <th scope="row">1</th>
                                          <td>All classrooms contain fire extinguishers for cases of emergency</td>
                                          <td>Safety Practices and Academic Efficiency </td>
                                          
                                          <td> 8/10</td>
                                          <td> Student Services </td>
                                          <td></td>>
                                          <td>9/10</td>
                                          <td> 7/10 </td>
                                          
                                        </tr>
                                        <tr>
                                          <th scope="row">2</th>
                                          <td>All Scientific Laboratories contain proper safety materials and follow proper safety guidelines </td>
                                          <td>Safety Practices and Academic Efficiency </td>
                                          
                                          <td> 9/10 </td>
                                          <td> Student Services </td>
                                          <td></td>>
                                          <td>9/10</td>
                                          <td> 5/10 </td>
                                          
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td>Each classrooms contain learning materials athat are in good condition to be used for academic learning </td>
                                            <td>Safety Practices and Academic Efficiency </td>
                                            
                                            <td> 9/10 </td>
                                            <td> Student Services </td>
                                            <td></td>>
                                            <td>9/10</td>
                                            <td> 6/10 </td>
                                            
                                          </tr>
                                      </tbody>
                                  </table> 
                                  
                             </div>
                            <button class ="button" type="submit">Back to Area Selection</button> 
                              <div class="ln_solid"></div>



    <footer>
        <div class="pull-right">
            Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
        </div>
         <div class="clearfix"></div>
        </footer>
         <!-- /footer content -->
        </div>
        </div>
                      
                          <!-- jQuery -->
                          <script src="assets/vendors/jquery/dist/jquery.min.js"></script>
                          <!-- Bootstrap -->
                          <script src="assets/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
                          <!-- FastClick -->
                          <script src="assets/vendors/fastclick/lib/fastclick.js"></script>
                          <!-- NProgress -->
                          <script src="assets/vendors/nprogress/nprogress.js"></script>
                          <!-- bootstrap-progressbar -->
                          <script src="assets/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
                          <!-- iCheck -->
                          <script src="assets/vendors/iCheck/icheck.min.js"></script>
                          <!-- bootstrap-daterangepicker -->
                          <script src="assets/vendors/moment/min/moment.min.js"></script>
                          <script src="assets/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
                          <!-- bootstrap-wysiwyg -->
                          <script src="assets/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
                          <script src="assets/vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
                          <script src="assets/vendors/google-code-prettify/src/prettify.js"></script>
                          <!-- jQuery Tags Input -->
                          <script src="assets/vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>
                          <!-- Switchery -->
                          <script src="assets/vendors/switchery/dist/switchery.min.js"></script>
                          <!-- Select2 -->
                          <script src="assets/vendors/select2/dist/js/select2.full.min.js"></script>
                          <!-- Parsley -->
                          <script src="assets/vendors/parsleyjs/dist/parsley.min.js"></script>
                          <!-- Autosize -->
                          <script src="assets/vendors/autosize/dist/autosize.min.js"></script>
                          <!-- jQuery autocomplete -->
                          <script src="assets/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
                          <!-- starrr -->
                          <script src="assets/vendors/starrr/dist/starrr.js"></script>
                          <!-- Custom Theme Scripts -->
                          <script src="assets/build/js/custom.min.js"></script> 

    </body>
</html>